<div class="container">
	<div class="row">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<td>Data</td>
						<td>Rodzaj zamówienia</td>
						<td>Materiał</td>
						<td>Rozmiar</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let order of orders">
						<td>{{order.data_zamowienia}}</td>
						<td>{{order.typ_zamowienia}}</td>
						<td>{{order.tkanina_spodnie}}</td>
						<td>{{order.rozmiar_mierzony_spodnie}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>