<div class="container">
	<div class="row">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<td>Data</td>
						<td>Rodzaj zamówienia</td>
						<td>Materiał</td>
						<td>Rozmiar</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>12.12.2016</td>
						<td>Garnitur</td>
						<td>NG 152</td>
						<td>48/176</td>
					</tr>
					<tr>
						<td>12.12.2016</td>
						<td>Garnitur</td>
						<td>NG 152</td>
						<td>48/176</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>