<div class="container">
	<div class="row">
		<h1>Zamówienie indywidualne {{type}}</h1>
		<form (submit)="onSubmitForm(order.value)" #order="ngForm">
		{{order.value | json}}
			<div class="general row">
				<div class="form-group col-xs-12 col-sm-6">
					<label for="nazwisko_klienta">Zleceniodawca</label>
					<input class="form-control" type="text" ngModel name="zleceniodawca"> <!-- TODO: pobrac numer zleceniodawcy z serwera -->
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="data_zamowienia">Data zamówienia</label>
					<input class="form-control" type="text" [ngModel]="dateValue | date: 'dd.MM.yyyy'" name="data_zamowienia">
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="nazwisko_klienta">Imię i nazwisko</label>
					<input class="form-control" type="text" ngModel name="nazwisko_klienta">
				</div>
			</div>
			<div class="assortment row" *ngIf="type == 'garnitur'">
				<div class="form-group col-xs-12 col-sm-6">
					<label for="asortyment">Asortyment</label>
					<select ngModel name="asortyment" class="form-control" required>
						<option disabled>Wybierz...</option>
						<option value="dwuczesciowy" selected>Garnitur 2 - częściowy</option>
						<option value="trzyczesciowy">Garnitur 3 - częściowy</option>
						<option value="smoking">Smoking</option>
						<option value="surdut">Surdut</option>
						<option value="frak">Frak</option>
						<option value="mundur">Mundur strażacki</option>
					</select>
				</div>
			</div>

			<!-- Marynarka -->

			<div class="marynarka row" *ngIf="type == 'garnitur' || type =='marynarka'">
				<br><h2>Marynarka</h2>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="tkanina_marynarka">Tkanina</label>
					<input class="form-control" type="text" ngModel name="tkanina_marynarka">
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="rozmiar_mierzony_marynarka">Rozmiar mierzony</label>
					<input class="form-control" type="text" ngModel name="rozmiar_mierzony_marynarka">
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="model_marynarka">Model</label>
					<input class="form-control" type="text" ngModel name="model_marynarka">
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label>Podszewka</label>
					<div class="radio">
						<label>
							<input type="radio" ngModel name="podszewka_marynarka" value="podszewka_marynarka_wiskoza">Wiskoza
						</label>
						<label>
							<input type="radio" ngModel name="podszewka_marynarka" value="podszewka_marynarka_poliester">Poliester
						</label>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label>Rozcięcia</label>
					<div class="radio">
						<label>
							<input type="radio" ngModel name="rozciecia_marynarka" value="brak">Brak
						</label>
						<label>
							<input type="radio" ngModel name="rozciecia_marynarka" value="1">1
						</label>
						<label>
							<input type="radio" ngModel name="rozciecia_marynarka" value="2">2
						</label>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label>Stębnowanie - AMF</label>
					<div class="radio">
						<label>
							<input type="radio" ngModel name="stebnowanie_marynarka" value="tak">Tak
						</label>
						<label>
							<input type="radio" ngModel name="stebnowanie_marynarka" value="nie">Nie
						</label>
					</div>

				</div>
				<div class="form-group col-xs-6 col-sm-3">
					<label for="dlugosc_tylu_marynarka">Długośc tyłu</label>
					<input class="form-control" type="text" ngModel name="dlugosc_tylu_marynarka">
				</div><div class="form-group col-xs-6 col-sm-3">
					<label for="szerokosc_tylu_marynarka">Szerokośc tyłu</label>
					<input class="form-control" type="text" ngModel name="szerokosc_tylu_marynarka">
				</div>
				<div class="form-group col-xs-6 col-sm-3">
					<label for="dlugosc_ramienia_marynarka">Długośc ramienia</label>
					<input class="form-control" type="text" ngModel name="dlugosc_ramienia_marynarka">
				</div>
				<div class="form-group col-xs-6 col-sm-3">
					<label for="dlugosc_rekawa_marynarka">Długośc rękawa</label>
					<input class="form-control" type="text" ngModel name="dlugosc_rekawa_marynarka">
				</div>
				<div class="form-group col-xs-12">
					<label for="opis_marynarka">Dodatkowe informacje</label>
					<textarea class="form-control" ngModel name="opis_marynarka"></textarea>
				</div>
			</div>

			<!-- Kamizelka -->

<!-- TODO asortyment -->
			<div class="kamizelka row" *ngIf="(type == 'garnitur' && order.value.asortyment != 'dwuczesciowy') || type =='kamizelka'">
				<br><h2>Kamizelka</h2>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="tkanina_kamizelka">Tkanina</label>
					<input class="form-control" type="text" ngModel name="tkanina_kamizelka">
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="rozmiar_mierzony_kamizelka">Rozmiar mierzony</label>
					<input class="form-control" type="text" ngModel name="rozmiar_mierzony_kamizelka">
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="model_kamizelka">Model</label>
					<input class="form-control" type="text" ngModel name="model_kamizelka">
				</div>



				<div class="form-group col-xs-12 col-sm-6">
					<label>Stębnowanie - AMF</label>
						<div class="radio">
							<label>
								<input type="radio" ngModel name="stebnowanie_kamizelka" value="tak">Tak
							</label>
							<label>
								<input type="radio" ngModel name="stebnowanie_kamizelka" value="nie">Nie
							</label>
						</div>
				</div>



				<div class="form-group col-xs-6 col-sm-3">
					<label for="dlugosc_przodu_kamizelka">Długośc przodu</label>
					<input class="form-control" type="text" ngModel name="dlugosc_przodu_kamizelka">
				</div>
				<div class="form-group col-xs-6 col-sm-3">
					<label for="dlugosc_tylu_kamizelka">Długośc tyłu</label>
					<input class="form-control" type="text" ngModel name="dlugosc_tylu_kamizelka">
				</div>
				<div class="form-group col-xs-12">
					<label for="opis_kamizelka">Dodatkowe informacje</label>
					<textarea class="form-control" ngModel name="opis_kamizelka"></textarea>
				</div>
			</div>

			<!-- Spodnie -->

			<div class="spodnie row" *ngIf="type == 'garnitur' || type =='spodnie'">
				<br><h2>Spodnie</h2>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="tkanina_spodnie">Tkanina</label>
					<input class="form-control" type="text" ngModel name="tkanina_spodnie">
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="rozmiar_mierzony_spodnie">Rozmiar mierzony</label>
					<input class="form-control" type="text" ngModel name="rozmiar_mierzony_spodnie">
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="model_spodnie">Model</label>
					<input class="form-control" type="text" ngModel name="model_spodnie">
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label>Kieszenie</label>
						<div class="radio">
							<label>
								<input type="radio" ngModel name="kieszenie_spodnie" value="angielskie">Angielskie
							</label>
							<label>
								<input type="radio" ngModel name="kieszenie_spodnie" value="dwuwypustkowe">Dwuwypustkowe
							</label>
						</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label for="nogawki">Doły nogawek</label>
					<select ngModel name="nogawki" class="form-control">
						<option disabled>Wybierz...</option>
						<option value="mankiet">Mankiet</option>
						<option value="bez_mankietu">Bez mankietu</option>
						<option value="nie_konczyc">Dołu nie konczyc</option>
					</select>
				</div>
				<div class="form-group col-xs-6 col-sm-3">
					<label for="dlugosc_nogawek">Długośc nogawek (z paskiem)</label>
					<input class="form-control" type="text" ngModel name="dlugosc_nogawek">
				</div>
				<div class="form-group col-xs-6 col-sm-3">
					<label for="obwod_pasa">Obwód pasa (na gotowo)</label>
					<input class="form-control" type="text" ngModel name="obwod_pasa">
				</div>
				<div class="form-group col-xs-12">
					<label for="opis_spodnie">Dodatkowe informacje</label>
					<textarea class="form-control" ngModel name="opis_spodnie"></textarea>
				</div>
			</div>

		<button type="submit" class="btn btn-success">Wyślij zamówienie!</button>
		</form>
	</div>
</div>


